<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galería de Fotos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galería de Fotos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">

    <ion-grid>
      <ion-row>
        <ion-col
          size="6"
          *ngFor="let foto of (fotosServ.listaDeFotos() | async), let posicion=index"
        >
          <ion-img [src]="foto.rutaEnLaVista" (click)="MostrarAcciones(foto, posicion)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  
      <ion-fab-button (click)="agregarFotoALaGaleria()">
        <ion-icon name="camera"></ion-icon>
     </ion-fab-button>
  </ion-fab>
</ion-content>
